<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">

    <title>企业介绍企业宣传</title>
    <link href="../Content/lib/Animate/animate.min.css" rel="stylesheet" />
    <link href="../Content/lib/Swiper/css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/temp.css">
    <script src="../Content/Scripts/Common.js"></script>
    <script src="../Content/lib/Jquery/jquery-1.10.2.min.js"></script>
    <script src="../Content/lib/Swiper/js/swiper.js"></script>
    <script src="../Content/lib/Swiper/js/swiper.animate.min.js"></script>
    <script>
        window.onload = function () {
            var vAnimar = new Tools.Animals({ filter: ".maka-page.maka-page-0" });
            //开始执行
            vAnimar.Start();
        }
    </script>
</head>

<body>
    <div class="swiper-container">
        <!--所有page的页面-->
        <div class="swiper-wrapper">
            <section class="swiper-slide maka-page-0">
                <div class="page-bg-0">
                <img src="images/page-bg-0.src" class="ig"></div>
                <div class="maka-eleCanvas maka-eleCanvas-0">
                    <div class="caq">
                        <div class="fa-an-a" data-animal="{animal:[{names:'fadeInUp 1500ms ease 1000ms both running'}]}">
                        </div>
                    </div>
                    <div class="mw-7">
                        <div class="fa-an-b" data-animal="{animal:[{names:'fadeInUp 1500ms ease 300ms both running'}]}"> </div>
                    </div>
                    <div class="mw-8">
                        <div class="fa-an-c" data-animal="{animal:[{names:'fadeInDown 1500ms ease 300ms both running'}]}" > </div>
                    </div>
                    <div class="mw-9">
                        <div class="fa-an-d" data-animal="{animal:[{name:'fadeInLeft',delay:1.5,duration:0.6}]}"> </div>
                    </div>
                    <div class="mw-10">
                        <div class="fa-an-e" data-animal="{animal:[{name:'fadeInLeft',delay:1.5,duration:0.8}]}"> </div>
                    </div>
                    <div class="mw-11">
                        <div class="fa-an-f" data-animal="{animal:[{name:'fadeInDown',delay:1.5,duration:2}]}"> </div>
                    </div>
                    <div class="mw-12">
                        <div class="fa-an-g" data-animal="{animal:[{name:'zoomIn',delay:2,duration:1.6}]}"> </div>
                    </div>
                    <div class="mw-13">
                        <div class="fa-an-h" data-animal="{animal:[{name:'fadeInRight',delay:1,duration:2}]}">COMPANY</div>
                    </div>
                    <div class="mw-14">
                        <div class="fa-an-j" data-animal="{animal:[{name:'fadeInRight',delay:1,duration:2.2}]}">PROFILE</div>
                    </div>
                    <div class="mw-15">
                        <div class="fa-an-k" data-animal="{animal:[{name:'fadeInRight',delay:1,duration:2.5}]}">l 公司简介</div>
                    </div>
                    <div class="mw-16">
                        <div class="fa-an-l" data-animal="{animal:[{name:'fadeInRight',delay:1,duration:1.6}]}" >江晓阳</div>
                    </div>
                </div>
            </section>
            <section class="swiper-slide maka-page-1">
                <div class="page-bg-1"></div>
                <div class="maka-eleCanvas maka-eleCanvas-1">
                        <div class="tw-a" data-animal="{animal:[{names:'fadeInNormal 1000ms ease 600ms both paused'}]}"></div>
                    <div class="tw-0">
                        <div class="tw-b" data-animal="{animal:[{names:'fadeInLeft 2000ms ease 1200ms both paused'}]}"></div>
                    </div>
                    <div class="tw-1">
                        <div class="tw-c" data-animal="{animal:[{names:'fadeInLeft 2000ms ease 1200ms both running'}]}"></div>
                    </div>
                    <div class="tw-2">
                        <div class="tw-d" data-animal="{animal:[{names:'fadeInLeft 2000ms ease 1200ms both paused'}]}"></div>
                    </div>
                    <div class="tw-3">
                        <div class="tw-e" data-animal="{animal:[{names:'fadeInRight 1000ms ease 1100ms both running'}]}"></div>
                    </div>
                    <div class="tw-4">
                        <div class="tw-f" data-animal="{animal:[{names:'fadeInRight 1000ms ease 900ms both running'}]}"></div>
                    </div>
                    <div class="tw-5">
                        <div class="tw-g" data-animal="{animal:[{names:'fadeInRight 1000ms ease 800ms both running'}]}"></div>
                    </div>
                    <div class="tw-6">
                        <div class="tw-h" data-animal="{animal:[{names:'fadeInRight 1000ms ease 700ms both running'}]}"></div>
                    </div>
                    <div class="tw-7">
                        <div class="tw-j" data-animal="{animal:[{names:'fadeInRight 1000ms ease 600ms both running'}]}"></div>
                    </div>
                    <div class="tw-8">
                        <div class="tw-k" data-animal="{animal:[{names:'fadeInRight 1000ms ease 400ms both running'}]}"></div>
                    </div>
                    <div class="tw-9">
                        <div class="tw-l" data-animal="{animal:[{names:'fadeInRight 1000ms ease 400ms both running'}]}"></div>
                    </div>
                    <div class="tw-10">
                        <div class="tw-z" data-animal="{animal:[{names:'fadeInRight 1000ms ease 100ms both running'}]}"></div>
                    </div>
                    <div class="tw-11">
                        <div class="tw-x" data-animal="{animal:[{names:'fadeInRight 1000ms ease 100ms both running'}]}"></div>
                    </div>
                    <div class="tw-12">
                        <div class="tw-v" data-animal="{animal:[{names:'fadeInRight 1000ms ease 200ms both running'}]}"></div>
                    </div>
                    <div class="tw-13">
                        <div class="tw-n" data-animal="{animal:[{names:'fadeInRight 1000ms ease 300ms both running'}]}"></div>
                    </div>
                    <div class="tw-14">
                        <div class="tw-m" data-animal="{animal:[{names:'fadeInRight 1000ms ease 400ms both running'}]}"></div>
                    </div>
                    <div class="tw-15">
                        <div class="tw-w" data-animal="{animal:[{names:'fadeInRight 1000ms ease 500ms both running'}]}"></div>
                    </div>
                    <div class="tw-16">
                        <div class="tw-r" data-animal="{animal:[{names:'fadeInRight 1000ms ease 600ms both running'}]}"></div>
                    </div>
                    <div class="tw-17">
                        <div class="tw-t" data-animal="{animal:[{names:'fadeInRight 1000ms ease 700ms both running'}]}"></div>
                    </div>
                    <div class="tw-18">
                        <div class="tw-y" data-animal="{animal:[{names:'fadeInRight 1000ms ease 800ms both running'}]}"></div>
                    </div>
                    <div class="tw-19">
                        <div class="tw-u" data-animal="{animal:[{names:'fadeInRight 1000ms ease 900ms both running'}]}"></div>
                    </div>
                    <div class="tw-20">
                        <div class="tw-i" data-animal="{animal:[{names:'fadeInRight 1000ms ease 1000ms both running'}]}"></div>
                    </div>
                    <div class="tw-21">
                        <div class="tw-o" data-animal="{animal:[{names:'fadeInRight 1000ms ease 1100ms both running'}]}"></div>
                    </div>
                    <div class="tw-22">
                        <div class="tw-p" data-animal="{animal:[{names:'fadeInRight 1000ms ease 1200ms both running'}]}"></div>
                    </div>
                    <div class="tw-23">
                        <div class="tw-aa" data-animal="{animal:[{names:'fadeInRight 1000ms ease 3000ms both running'}]}"></div>
                    </div>
                    <div class="tw-24">
                        <div class="tw-bb" data-animal="{animal:[{names:'fadeInNormal 1000ms ease 600ms both running'}]}"></div>
                    </div>
                    <div class="tw-25">
                        <div class="tw-cc" data-animal="{animal:[{names:'fadeInNormal 1000ms ease 600ms both running'}]}"></div>
                    </div>
                    <div class="tw-26">
                        <div class="tw-dd" data-animal="{animal:[{names:'oomIn 1000ms ease 2200ms both running'}]}"></div>
                    </div>
                    <div class="tw-27">
                        <div class="tw-ee" data-animal="{animal:[{names:'fadeInDown 1000ms ease 1600ms both running'}]}">COMPANY</div>
                    </div>
                    <div class="tw-28">
                        <div class="tw-ff" data-animal="{animal:[{names:'fadeInDown 1000ms ease 1900ms both running'}]}">PROFILE</div>
                    </div>
                    <div class="tw-29">
                        <div class="tw-gg" data-animal="{animal:[{names:'fadeInRight 1000ms ease 2500ms both running'}]}">公司简介</div>
                    </div>
                    <div class="tw-30">
                        <div class="tw-hh" data-animal="{animal:[{names:'rotateInDownLeft 1000ms ease 2800ms both running'}]}">这里可以填写你的公司简介内容，模版是蓝色系主色调，简约而不简单，模版还可以调成其它色调，例如：红色，橙色等。如果有疑问可咨询（hhq-668).了解更多模版内容</div>
                    </div>
                </div>
            </section>
            <section class="swiper-slide maka-page-2">
                <div class="page-bg-2"></div>
                <div class="maka-eleCanvas maka-eleCanvas-2">
                    <div class="s-0">
                        <div class="s-a"></div>
                    </div>
                    <div class="s-1">
                        <div class="s-b" data-animal="{animal:[{names:'oomIn 1000ms ease 1000ms both running'}]}"></div>
                    </div>
                    <div class="s-2">
                        <div class="s-c"></div>
                    </div>
                    <div class="s-3">
                        <div class="s-d" data-animal="{animal:[{names:'fadeInRight 1000ms ease 600ms both running'}]}"></div>
                    </div>
                    <div class="s-4">
                        <div class="s-e" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 600ms both running'}]}"></div>
                    </div>
                    <div class="s-5">
                        <div class="s-f" data-animal="{animal:[{names:'fadeInUp 1000ms ease 1300ms both running'}]}"></div>
                    </div>
                    <div class="s-6">
                        <div class="s-g" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 1000ms both running'}]}">DEVELOPMENT</div>
                    </div>
                    <div class="s-7">
                        <div class="s-h" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 1000ms both running'}]}">HISTORY</div>
                    </div>
                    <div class="s-8">
                        <div class="s-j" data-animal="{animal:[{names:'zoomIn 1000ms ease 1400ms both running'}]}"></div>
                    </div>
                    <div class="s-9">
                        <div class="s-k" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 1800ms both running'}]}">2000年10月1日 创新工作室在广州成立</div>
                    </div>
                    <div class="s-10">
                        <div class="s-l" data-animal="{animal:[{names:'fadeInDown 1000ms ease 1600ms both running'}]}">发展历程</div>
                    </div>
                    <div class="s-11">
                        <div class="s-z" data-animal="{animal:[{names:'fadeInRight 1000ms ease 1800ms both running'}]}">2002年10月1日 工作室在上海成立分公司</div>
                    </div>
                    <div class="s-12">
                        <div class="s-x" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 2200ms both running'}]}">2008年10月1日 在同行业比赛中获得一等奖</div>
                    </div>
                    <div class="s-13">
                        <div class="s-v" data-animal="{animal:[{names:'fadeInRight 1000ms ease 2200ms both running'}]}">2015年10月1日 公司正式成为上市公司</div>
                    </div>
                </div>
            </section>
            <section class="swiper-slide maka-page-3">
                <div class="page-bg-3">
                  <img src="images/0a_90Q.src" style="position: absolute; width: 423.492px; height: 667px; top: 0px; left: 0px; -webkit-user-drag: none; user-select: none; opacity: 1;">
                </div>
                <div class="maka-eleCanvas maka-eleCanvas-3">
                    <div class="f-0">
                        <div class="f-a" data-animal="{animal:[{names:'fadeInUp 1000ms ease 600ms both running'}]}"></div>
                    </div>
                    <div class="f-1">
                        <div class="f-b" data-animal="{animal:[{names:'rotateInDownLeft 1000ms ease 1500ms both running'}]}"></div>
                    </div>
                    <div class="f-2">
                        <div class="f-c" data-animal="{animal:[{names:'rotateInDownLeft 1000ms ease 1000ms both running'}]}"></div>
                    </div>
                    <div class="f-3">
                        <div class="f-d" data-animal="{animal:[{names:'rotateInDownLeft 1000ms ease 1300ms both running'}]}"></div>
                    </div>
                    <div class="f-4">
                        <div class="f-e" data-animal="{animal:[{names:'fadeInUp 1000ms ease 800ms both running'}]}"></div>
                    </div>
                    <div class="f-5">
                        <div class="f-f" data-animal="{animal:[{names:'fadeInUp 1000ms ease 1000ms both running'}]}"></div>
                    </div>
                    <div class="f-6">
                        <div class="f-g" data-animal="{animal:[{names:'fadeInNormal 1000ms ease 600ms both running'}]}"></div>
                    </div>
                    <div class="f-7">
                        <div class="f-h" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 1200ms both running'}]}">11111</div>
                    </div>
                    <div class="f-8">
                        <div class="f-j" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 1400ms both running'}]}">111111</div>
                    </div>
                    <div class="f-9">
                        <div class="f-k" data-animal="{animal:[{names:'zoomIn 1000ms ease 1600ms both running'}]}"></div>
                    </div>
                    <div class="f-10">
                        <div class="f-l" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 1600ms both running'}]}">荣誉证书</div>
                    </div>
                    <div class="f-11">
                        <div class="f-z" data-animal="{animal:[{names:'fadeInRight 1000ms ease 2000ms both running'}]}"></div>
                    </div>
                    <div class="f-12">
                        <div class="f-x" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 2000ms both running'}]}"></div>
                    </div>
                    <div class="f-13">
                        <div class="f-v" data-animal="{animal:[{names:'zoomIn 1000ms ease 2300ms both running'}]}">年度先进单位</div>
                    </div>
                    <div class="f-12">
                        <div class="f-x" data-animal="{animal:[{names:'fadeInLeft 1000ms ease 2000ms both running'}]}"></div>
                    </div>
                    <div class="f-13">
                        <div class="f-v" data-animal="{animal:[{names:'zoomIn 1000ms ease 2300ms both running'}]}">年度先进单位</div>
                    </div>
                </div>
            </section>
            <section class="swiper-slide maka-page-4">
                <div class="page-bg-4"></div>
                <div class="maka-eleCanvas maka-eleCanvas-4">
                    <div class="l-0">
                        <div class="l-a" data-animal="{animal:[{names:'fadeInNormal 1000ms ease 600ms both running'}]}"></div>
                    </div>
                    <div class="l-1">
                        <div class="l-b" data-animal="{animal:[{names:'fadeInUp 1000ms ease 400ms both running'}]}"></div>
                    </div>
                    <div class="l-2">
                        <div class="l-c" data-animal="{animal:[{names:'fadeInRight 1000ms ease 800ms both running'}]}"></div>
                    </div>
                    <div class="l-3">
                        <div class="l-d" data-animal="{animal:[{names:'fadeInRight 1000ms ease 800ms both running'}]}"></div>
                    </div>
                    <div class="l-4">
                        <div class="l-e" data-animal="{animal:[{names:'zoomIn 1000ms ease 1300ms both running'}]}"></div>
                    </div>
                    <div class="l-5">
                        <div class="l-f" data-animal="{animal:[{names:'fadeInRight 1000ms ease 2000ms both running'}]}">CONTACT US</div>
                    </div>
                    <div class="l-6">
                        <div class="l-g" data-animal="{animal:[{names:'fadeInRight 1000ms ease 2500ms both running'}]}">l 联系我们</div>
                    </div>
                    <div class="l-7">
                        <div class="l-h" data-animal="{animal:[{names:'zoomIn 1000ms ease 1300ms both running'}]}"></div>
                    </div>
                    <div class="l-8">
                        <div class="l-j" data-animal="{animal:[{names:'fadeInUp 1000ms ease 1800ms both running'}]}">什么公司<br>电话：020-33338888 <br>微信：123456789
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="maka-Arrow">
            <img src="images/up-dow.png">
        </div>
    </div>
    <script type = "text/javascript">
    scaleW=window.innerWidth/320;
    scaleH=window.innerHeight/480;
    var resizes = document.querySelectorAll('.resize');
              for (var j=0; j<resizes.length; j++) {
               resizes[j].style.width=parseInt(resizes[j].style.width)*scaleW+'px';
           resizes[j].style.height=parseInt(resizes[j].style.height)*scaleH+'px';
           resizes[j].style.top=parseInt(resizes[j].style.top)*scaleH+'px';
           resizes[j].style.left=parseInt(resizes[j].style.left)*scaleW+'px';

              }
    var scales = document.querySelectorAll('.txt');
    for (var i=0; i<scales.length; i++) {
      ss=scales[i].style;
      ss.webkitTransform = ss.MsTransform = ss.msTransform = ss.MozTransform = ss.OTransform =ss.transform='translateX('+scales[i].offsetWidth*(scaleW-1)/2+'px) translateY('+scales[i].offsetHeight*(scaleH-1)/2+'px)scaleX('+scaleW+') scaleY('+scaleH+') ';
    }
      var mySwiper = new Swiper ('.swiper-container', {
       direction : 'vertical',
       pagination: '.swiper-pagination',
       mousewheelControl : true,
       onInit: function(swiper){
       swiperAnimateCache(swiper);
       swiperAnimate(swiper);
        },
       onSlideChangeEnd: function(swiper){
      swiperAnimate(swiper);
        }
         })
    </script>
</body>

</html>
