<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    
    <title>企业介绍企业宣传</title>
    <link rel="stylesheet" type="text/css" href="css/temp.css">
     
</head>

<body>
    <div class="maka-canvas">
        <!--所有page的页面-->
        <div class="maka-pages" id="maka-pages">
            <div class="maka-page maka-page-0">
                <div class="page-bg-0">
                <img src="images/page-bg-0.src" class="ig"></div>
                <div class="maka-eleCanvas maka-eleCanvas-0">
                    <div class="caq">
                        <div class="fa-an-a">
                        </div>
                    </div>
                    <div class="mw-7">
                        <div class="fa-an-b"> </div>
                    </div>
                    <div class="mw-8">
                        <div class="fa-an-c"> </div>
                    </div>
                    <div class="mw-9">
                        <div class="fa-an-d"> </div>
                    </div>
                    <div class="mw-10">
                        <div class="fa-an-e"> </div>
                    </div>
                    <div class="mw-11">
                        <div class="fa-an-f"> </div>
                    </div>
                    <div class="mw-12">
                        <div class="fa-an-g"> </div>
                    </div>
                    <div class="mw-13">
                        <div class="fa-an-h">COMPANY</div>
                    </div>
                    <div class="mw-14">
                        <div class="fa-an-j">PROFILE</div>
                    </div>
                    <div class="mw-15">
                        <div class="fa-an-k">l 公司简介</div>
                    </div>
                    <div class="mw-16">
                        <div class="fa-an-l">江晓阳</div>
                    </div>
                </div>
            </div>
            <!-- <div class="maka-page maka-page-1">
                <div class="page-bg-1"></div>
                <div class="maka-eleCanvas maka-eleCanvas-1">
                        <div class="tw-a"></div>
                    </div>
                    <div class="tw-0">
                        <div class="tw-b"></div>
                    </div>
                    <div class="tw-1">
                        <div class="tw-c"></div>
                    </div>
                    <div class="tw-2">
                        <div class="tw-d"></div>
                    </div>
                    <div class="tw-3">
                        <div class="tw-e"></div>
                    </div>
                    <div class="tw-4">
                        <div class="tw-f"></div>
                    </div>
                    <div class="tw-5">
                        <div class="tw-g"></div>
                    </div>
                    <div class="tw-6">
                        <div class="tw-h"></div>
                    </div>
                    <div class="tw-7">
                        <div class="tw-j"></div>
                    </div>
                    <div class="tw-8">
                        <div class="tw-k"></div>
                    </div>
                    <div class="tw-9">
                        <div class="tw-l"></div>
                    </div>
                    <div class="tw-10">
                        <div class="tw-z"></div>
                    </div>
                    <div class="tw-11">
                        <div class="tw-x"></div>
                    </div>
                    <div class="tw-12">
                        <div class="tw-v"></div>
                    </div>
                    <div class="tw-13">
                        <div class="tw-n"></div>
                    </div>
                    <div class="tw-14">
                        <div class="tw-m"></div>
                    </div>
                    <div class="tw-15">
                        <div class="tw-w"></div>
                    </div>
                    <div class="tw-16">
                        <div class="tw-r"></div>
                    </div>
                    <div class="tw-17">
                        <div class="tw-t"></div>
                    </div>
                    <div class="tw-18">
                        <div class="tw-y"></div>
                    </div>
                    <div class="tw-19">
                        <div class="tw-u"></div>
                    </div>
                    <div class="tw-20">
                        <div class="tw-i"></div>
                    </div>
                    <div class="tw-21">
                        <div class="tw-o"></div>
                    </div>
                    <div class="tw-22">
                        <div class="tw-p"></div>
                    </div>
                    <div class="tw-23">
                        <div class="tw-aa"></div>
                    </div>
                    <div class="tw-24">
                        <div class="tw-bb"></div>
                    </div>
                    <div class="tw-25">
                        <div class="tw-cc"></div>
                    </div>
                    <div class="tw-26">
                        <div class="tw-dd"></div>
                    </div>
                    <div class="tw-27">
                        <div class="tw-ee">COMPANY</div>
                    </div>
                    <div class="tw-28">
                        <div class="tw-ff">PROFILE</div>
                    </div>
                    <div class="tw-29">
                        <div class="tw-gg">公司简介</div>
                    </div>
                    <div class="tw-30">
                        <div class="tw-hh">这里可以填写你的公司简介内容，模版是蓝色系主色调，简约而不简单，模版还可以调成其它色调，例如：红色，橙色等。如果有疑问可咨询（hhq-668).了解更多模版内容</div>
                    </div>
                </div>
            </div> -->
            <!--<div class="maka-page maka-page-2">
                <div class="page-bg-2"></div>
                <div class="maka-eleCanvas maka-eleCanvas-2">
                    <div class="s-0">
                        <div class="s-a"></div>
                    </div>
                    <div class="s-1">
                        <div class="s-b"></div>
                    </div>
                    <div class="s-2">
                        <div class="s-c"></div>
                    </div>
                    <div class="s-3">
                        <div class="s-d"></div>
                    </div>
                    <div class="s-4">
                        <div class="s-e"></div>
                    </div>
                    <div class="s-5">
                        <div class="s-f"></div>
                    </div>
                    <div class="s-6">
                        <div class="s-g">DEVELOPMENT</div>
                    </div>
                    <div class="s-7">
                        <div class="s-h">HISTORY</div>
                    </div>
                    <div class="s-8">
                        <div class="s-j"></div>
                    </div>
                    <div class="s-9">
                        <div class="s-k">2000年10月1日 创新工作室在广州成立</div>
                    </div>
                    <div class="s-10">
                        <div class="s-l">发展历程</div>
                    </div>
                    <div class="s-11">
                        <div class="s-z">2002年10月1日 工作室在上海成立分公司</div>
                    </div>
                    <div class="s-12">
                        <div class="s-x">2008年10月1日 在同行业比赛中获得一等奖</div>
                    </div>
                    <div class="s-13">
                        <div class="s-v">2015年10月1日 公司正式成为上市公司</div>
                    </div>
                </div>
            </div>-->
            <!-- <div class="maka-page maka-page-3">
                <div class="page-bg-3">
                <img src="images/0a_90Q.src" style="position: absolute; width: 423.492px; height: 667px; top: 0px; left: 0px; -webkit-user-drag: none; user-select: none; opacity: 1;">
                </div>
                <div class="maka-eleCanvas maka-eleCanvas-3">
                    <div class="f-0">
                        <div class="f-a"></div>
                    </div>
                    <div class="f-1">
                        <div class="f-b"></div>
                    </div>
                    <div class="f-2">
                        <div class="f-c"></div>
                    </div>
                    <div class="f-3">
                        <div class="f-d"></div>
                    </div>
                    <div class="f-4">
                        <div class="f-e"></div>
                    </div>
                    <div class="f-5">
                        <div class="f-f"></div>
                    </div>
                    <div class="f-6">
                        <div class="f-g"></div>
                    </div>
                    <div class="f-7">
                        <div class="f-h">COMPANY</div>
                    </div>
                    <div class="f-8">
                        <div class="f-j">HONOR</div>
                    </div>
                    <div class="f-9">
                        <div class="f-k"></div>
                    </div>
                    <div class="f-10">
                        <div class="f-l">荣誉证书</div>
                    </div>
                    <div class="f-11">
                        <div class="f-z"></div>
                    </div>
                    <div class="f-12">
                        <div class="f-x"></div>
                    </div>
                    <div class="f-13">
                        <div class="f-v">年度先进单位</div>
                    </div>
                    <div class="f-12">
                        <div class="f-x"></div>
                    </div>
                    <div class="f-13">
                        <div class="f-v">年度先进单位</div>
                    </div>
                </div>
            </div> 
            <div class="maka-page maka-page-4">
                <div class="page-bg-4"></div>
                <div class="maka-eleCanvas maka-eleCanvas-4">
                    <div class="l-0">
                        <div class="l-a"></div>
                    </div>
                    <div class="l-1">
                        <div class="l-b"></div>
                    </div>
                    <div class="l-2">
                        <div class="l-c"></div>
                    </div>
                    <div class="l-3">
                        <div class="l-d"></div>
                    </div>
                    <div class="l-4">
                        <div class="l-e"></div>
                    </div>
                    <div class="l-5">
                        <div class="l-f">CONTACT US</div>
                    </div>
                    <div class="l-6">
                        <div class="l-g">l 联系我们</div>
                    </div>
                    <div class="l-7">
                        <div class="l-h"></div>
                    </div>
                    <div class="l-8">
                        <div class="l-j">什么公司<br>电话：020-33338888 <br>微信：123456789
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="maka-Arrow">
            <img src="images/up-dow.png">
        </div>
    </div>
</body>

</html>
